<app-menu></app-menu>


  <header class="masthead" style="background-image: url(http://3.bp.blogspot.com/-ZxVtrfCJPSU/UZ1rTUfXcvI/AAAAAAAA9Bc/QbutHnkgkW4/w1200-h630-p-k-no-nu/5-fondos-de-pantalla-minimalistas-wallpapers-hd-muy-buenos-c.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Eduardo Hernandez Carrasco</h1>
            <span class="subheading">Desarrollador de software</span>
          </div>
        </div>
      </div>
    </div>
  </header>
      <app-footer></app-footer>