<app-menu></app-menu>
<!-- Cabecera -->
<header class="masthead" style="background-image: url('https://image.freepik.com/foto-gratis/espacio-trabajo-vista-superior-espacio-copia_23-2148236849.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Contacto</h1>
            <span class="subheading">Asesoría</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Contenido Principal -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p><b>e-mail:</b>edwardhercar@gmail.com</p>
        <p><b>Twitter:</b>@EdwHCLH</p>
        <p><b>Teléfono:</b>241-158-98-39</p>
        </div>
    </div>
  </div>
  <app-footer></app-footer>