<app-menu></app-menu>
<div class="container">
  
</div>
<link href="/src/styles.css" rel="stylesheet">

  <header class="masthead" style="background-image:url(/src/assets/img/deskminimal.jpg)">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Eduardo Hernandez Carrasco</h1>
            <span class="subheading">Desarrollador de software</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>  