<app-menu></app-menu>
<!-- Cabecera -->
<header class="masthead" style="background-image: url('http://www.hdfondos.eu/pictures/2013/0223/1/orig_221553.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Acerca de</h1>
          <span class="subheading">Biografía</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Contenido Principal -->
<div class="container">
  <div class="row">   
    <div class="col-lg-3 col-md-4 offset-lg-1">
      <img class="img-fluid avatar" src="/src/assets/img/avatar.jpg" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
      <h2 class="section-heading">Eduardo Hernandez Carrasco</h2>   
      <p>Nacido en Tlaxcala, Tlaxcala, el 16 de septiembre del 2001</p>
      <p>Creci en Tlaxco tlaxcala, estudie el preescolar en el kinder</p>
      <p>Estudie la escuela primaria en la escuela Alvaro Obregon</p>
      <p>posteriormente entre a la esc. sec. gral. Francisco Villa</p>
      <p>despues de eso estudie en el Cobat 09, Tlaxco</p>
      <p>y actualmente estoy estudiando la carrera de Tecnologias de la</p>
      <p>informacion en el area de desarrollo de software en la </p>
      <p>        Universidad Tecnologica de Tlaxcala </p>
    </div>
  </div>  
</div>
<app-footer></app-footer>